* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", "Inter", sans-serif;
  margin: 0;
}

h1{
  font-size: 1.3em;
  font-weight:700;
  color: #FFFF;
  padding-left: 0.5rem;
  letter-spacing: -0.1em;
  
}

.header-subtitle {
  font-size: 0.7em;
  color: #FFFF;
  font-weight:500;
  font-family: "Inter";
  padding-right: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 4em;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  align-items: center;
  flex-direction: row;
}

.title-logo{
  display: flex;
  padding-left: 2rem;
  align-items: center;
}

.header-image{
  height: 3em;
}

/*form*/

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.form-button {
  width: 80%;
  height: 3em;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  border:none;
  font-size: 1em;
  color: #FFFF;
  font-weight: 700;
  font-family: "Karla";
  letter-spacing: -0.1em;
  text-align: center;
}

.inputs-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0 1rem 0;
  justify-content: space-between;
  align-content: center;
  width: 80%;
}

.form-input {
  width: 49%;
  height: 3em;
  font-family: "Karla";
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  padding-left: 1em;
}

.meme-image {
  max-width: 80%;
  padding-top: 5%;
}